<div class="W-gadget W-gadget-number{{#if meta.failed}} w-failed{{/if}}">
    <header>
        <div class="w-settings">
            <img src="/images/icon_cogs.svg" class="svg W-icon-cogs" alt="Settings" />
        </div>
        <h1>{{meta.title}}</h1>
        <div class="w-meta"><a href="{{meta.url}}" target="_blank">{{meta.url}}</a></div>
        <div class="w-format"></div>
    </header>
    <div class="w-flot"></div>
</div>
