<div class="W-gadget W-gadget-number">
    <header>
        <h1>{{meta.title}}</h1>
        <div class="w-meta">{{meta.url}}</div>
        <div class="w-format"></div>
    </header>
    <div class="w-flot"></div>
</div>
