<div class="W-gadget W-gadget-string">
    <header>
        <h1>{{meta.title}}</h1>
        <div class="w-meta">{{meta.url}}</div>
        <div class="w-format"></div>
    </header>
    <ul>
        {{#each set.data}}
        <li>{{asof}} <strong>{{value}}</strong></li>
        {{/each}}
    </ul>
</div>
