@import 'styles/variables';
.W-gadget {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-top: 3px solid transparent;
    header {
        .w-settings {
            position: absolute;
            top: -2px;
            right: 0;
            width: 45px;
            background: #29323c;
            border-bottom-left-radius: 15px;
            [class*=W-icon-] {
                margin: 5px 10px;
                float: right;
            }
        }
        h1 {
            margin-bottom: 0;
        }
        .w-format {
            position: absolute;
            right: 55px;
            top: 3px;
        }
    }
    &.w-failed {
        border-top-color: #b92222;
    }
    .w-meta {
        color: $secondaryLink;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 50%;
    }
    .w-flot {
        position: absolute;
        top: 95px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    .W-gadget-string {
        li:first-child {
            font-size: 14px;
        }
    }
}
