<div class="A-gadget">
    <header>
        <h1>{{meta.title}}</h1>
        <div>{{meta.url}}</div>
    </header>
    <ul>
        {{#each result}}
        <li>{{asof}} <strong>{{value}}</strong></li>
        {{/each}}
    </ul>
    <div id="placeholder" style="width: 500px; height: 200px"></div>
</div>