<div class="A-gadget">
    <ul>
        {{#each result}}
        <li>{{asof}} <strong>{{value}}</strong></li>
        {{/each}}
    </ul>
    <div id="placeholder" style="width: 500px; height: 200px"></div>
</div>