.W-masthead {
    min-height: 40px;
    background: $coreColor01;
    color: #fff;
    h1 {
        font-size: 20px;
        margin-bottom: 0;
    }
    > div {
        line-height: 40px;
        margin: 0 10px;
    }
    .w-logo {
        float: left;
    }
    .w-username {
        float: right;
    }
    .w-signout {
        float: right;
        cursor: default;
    }
}
