@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alan\/code\/watchr\/public\/styles\/icons\.scss}line{font-family:\000031}}
.W-icon-cogs {
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alan\/code\/watchr\/public\/styles\/icons\.scss}line{font-family:\000038}}
.W-icon-arrow_expand {
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: #fff;
}
