.W-search {
    padding: 7px;
    border-bottom: 1px solid $borderLines;
    input[type=text],
    input[type=url] {
        width: 300px;
        min-width: 150px;
        margin-right: 5px;
    }
    input[disabled] {
        background: #ccc;
    }
}