<div class="W-search">
    <form method="post" action="/search" class="w-form">
        <label>
            <span>URL:</span>
            <input type="text" name="url">
        </label>
        <label>
            <span>Selector:</span>
            <input type="text" name="selector">
        </label>
        <input type="submit">
    </form>
    <div class="w-answer"></div>
</div>