<div class="W-search">
    <form method="post" action="/search" class="w-form">
        <label>
            <input type="text" name="title" placeholder="name">
        </label>
        <label>
            <input type="text" name="url" placeholder="url">
        </label>
        <label>
            <input type="text" name="selector" placeholder="selector">
        </label>
        <input type="submit" value="Test">
        <input type="submit" value="Add">
    </form>
</div>