@import 'variables';
$masthead-height: 40px;
$search-height: 41px;
$fixed-height: $search-height + $masthead-height;

.W-masthead-container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.W-search-container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: $masthead-height;
    background: #fff;
}

.W-task-list-container {
    position: fixed;
    top: $fixed-height;
    background: $defaultBackground;
    border-right: 1px solid $borderLines;
    min-width: 325px;
    max-width: 20%;
    height: calc(100% - 81px);
    overflow: auto;
}

.W-gadget-list-container {
    position: absolute;
    left: 325px;
    top: 80px;
    right: 0;
    bottom: 0;
}
