.W-task-list-container {
    position: absolute;
    background: $defaultBackground;
    border-right: 1px solid $borderLines;
    min-width: 325px;
    max-width: 20%;
    height: calc(100% - 81px);
    overflow: auto;
}

.W-gadget-list-container {
    position: absolute;
    left: 325px;
    top: 80px;
    right: 0;
    bottom: 0;
    padding: 20px;
}
