.W-icon-cogs {
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: #fff;
}

.W-icon-arrow_left-down {
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: #fff;
}
