:link {
    color: $primaryLink;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
:visited {
    color: $primaryLink;
}
:link:focus,
:visited:focus,
:link:hover,
:visited:hover {
    //background: $highlight;
    text-decoration: none;
    border-bottom-color: $primaryLink;
}
