.W-settings {
    position: absolute;
    top: -2px;
    right: 0;
    width: 45px;
    height: 30px;
    background: #29323c;
    border-bottom-left-radius: 15px;
    transition: width .25s ease-in-out, background-color .25s;
    [class*=W-icon-] {
        margin: 5px 10px;
        position: absolute;
        background-color: #29323c;
        right: 1px;
    }
    input[type=text],
    input[type=url] {
        border: 1px solid #aaa;
        background: #fff;
        padding-left: 3px;
        width: 313px;
        margin-left: -3px;
    }
    label {
        display: block;
    }
    .W-icon-cogs,
    .W-icon-arrow_expand {
        opacity: 1;
        transition: opacity .25s ease-in-out;
    }
    .W-icon-arrow_expand {
        transition: background-color .25s ease-in-out;
    }
    .w-content {
        display: none;
    }
    &:hover {
        &:hover {
            .W-icon-cogs {
                opacity: 0;
            }
        }
    }
    &.w-failed {
        background-color: #b92222;
        [class*=W-icon-] {
            background-color: #b92222;
        }
        .w-selector, .w-url {
            input {
                border: 1px solid #b92222!important;
            }
            span {
                background: #b92222!important;
            }
        }
        .w-result {
            color: #ccc;
        }
    }
    &.w-open {
        width: 450px;
        height: auto;
        z-index: 1;
        background-color: #eee;
        border: 1px solid #ddd;
        .w-result {
            padding: 10px;
            margin: 10px 0 30px 0;
            background: #fff;
        }
        .w-content {
            display: block;
            padding: 10px;
            header {
                font-size: 16px;
                margin-bottom: 10px;
            }
            span {
                background: #aaa;
                line-height: 22px;
                min-width: 45px;
                display: inline-block;
                position: relative;
                top: -1px;
                padding: 0 8px;
                color: #fff;
            }
        }
        [class*=W-icon-] {
            opacity: 0;
            background-color: #ccc;
        }
        .w-buttons {
            position: absolute;
            right: 10px;
            bottom: 0;
            margin: 10px 0;
            float: right;
            input {
                display: inline-block;
                margin: 0;
                margin-left: 5px;
            }
        }
    }
}
