.W-settings {
    position: absolute;
    top: -2px;
    right: 0;
    width: 45px;
    height: 30px;
    background: #29323c;
    border-bottom-left-radius: 15px;
    transition: width .25s ease-in-out, background-color .25s;
    [class*=W-icon-] {
        margin: 5px 10px;
        position: absolute;
        background-color: #29323c;
        right: 1px;
    }
    .W-icon-cogs,
    .W-icon-arrow_expand {
        opacity: 1;
        transition: opacity .25s ease-in-out;
    }
    .W-icon-arrow_expand {
        transition: background-color .25s ease-in-out;
    }
    .w-content {
        display: none;
    }
    &:hover {
        &:hover {
            .W-icon-cogs {
                opacity: 0;
            }
        }
    }
    &.w-open {
        width: 400px;
        height: 150px;
        z-index: 1;
        background-color: #ccc;
        .w-content {
            display: block;
        }
        [class*=W-icon-] {
            opacity: 0;
            background-color: #ccc;
        }
    }
}
