<div class="W-settings">
    <img src="/images/arrow_expand.svg" class="svg W-icon-arrow_expand" alt="Settings" />
    <img src="/images/icon_cogs.svg" class="svg W-icon-cogs" alt="Settings" />
    <div class="w-content">
        Stuff goes here
    </div>
</div>
