<div class="W-format-gadget" data-id="{{id}}">
    <form action=".">
    <select>
        {{#each options}}
        <option value="{{type}}"{{#if selected}} selected{{/if}}>{{type}}</option>
        {{/each}}
    </select>
    <input style="display: none" type="text" name="regex" class="w-regex" placeholder="Regular Expression" value="{{regex}}">
    <input style="display: none" type="submit" value="Apply" disabled>
    </form>
</div>