<div class="W-format-gadget" data-id="{{id}}">
    <select>
        {{#each options}}
        <option value="{{type}}"{{#if selected}} selected{{/if}}>{{type}}</option>
        {{/each}}
    </select>
</div>