.W-task-list {
    @include w-right-shadow;
    .w-listitem {
        background: #fff;
        padding: 10px;
        border-bottom: 1px solid $borderLines;
        &:hover {
            background: #f1f1f1;
        }
    }
    .w-url {
        color: $primaryLink;
        @include ellipsis;
    }
    .w-title {
        font-weight: bold;
    }
}