.W-task-list {
    @include w-right-shadow;
    .w-listitem {
        background: #fff;
        padding: 10px;
        border-bottom: 1px solid $borderLines;
        position: relative;
        &:hover {
            background: #f1f1f1;
        }
        &.w-updated {
            background: #fee;
        }
        .w-delete {
            display: none;
            background: #f00;
            color: #fff;
            width: 12px;
            height: 12px;
            line-height: 12px;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            top: 10px;
            right: 10px;
            font-size: 10px;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
        }
        &:hover .w-delete {
            display: block;
        }
    }
    .w-url {
        color: $primaryLink;
        @include ellipsis;
    }
    .w-title {
        font-weight: bold;
    }
}
