<div class="W-task-list-container W-task-list">
    <div class="w-listitem">
        <div class="w-title">3TB Hard Drive</div>
        <div class="w-url"><a href="http://www.amazon.co.uk">http://www.amazon.co.uk/s/ref=nb_sb_ss_i_0_8?url=search</a></div>
    </div>
    <div class="w-listitem">
        <div class="w-title">3TB Hard Drive</div>
        <div class="w-url"><a href="http://www.amazon.co.uk">http://www.amazon.co.uk/s/ref=nb_sb_ss_i_0_8?url=search</a></div>
    </div>
</div>